body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 0.5rem;
}

/* header styling */
header {
  background-image: url(../images/pattern.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-color: #4ea0ff;
  border-top: 15px solid #4ea0ff;
}
.logo-container {
  padding-top: 30px;
  width: 200px;
}
/* /header styling */
/* reimposto i margini degli h1,h2...h6  */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h3,
.article-date {
  color: #808080;
}

h3 > em {
  color: #20a9e5;
  font-style: normal;
}

.tim-container {
  display: flex;
  /* faccio stare sempre sulla stessa riga i due TIM */
  flex-flow: row nowrap;
  gap: 0.5rem; /* gap è lo spazio tra i due tim */
}

section ul {
  list-style: inside;
  padding: 0;
}

/* ====================table styling========================= */
table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
thead {
  color: white;
  background-color: #20a9e5;
}

tbody tr:first-child,
tbody tr:last-child {
  background-color: #b1e5f2;
}
tbody tr td:first-child,
tbody tr td:nth-child(2) {
  width: 30%;
}
/* ====================/table styling============================ */

.item-background {
  padding: 15px;
  color: white;
  background-size: cover;
  width: 200px;
  height: 150px;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
}

.monitor {
  background-image: url(../images/monitor.jpg);
}

.graph {
  background-image: url(../images/graph.jpg);
}
