* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 0.5rem;
}

/* header styling */
header {
  background-image: url(../images/pattern.png);
  background-size: contain;
  background-color: #4ea0ff;
  border-top: 15px solid #4ea0ff;
}
.logo-container {
  padding-top: 30px;
  width: 200px;
}
/* /header styling */

h1 {
  font-size: 2rem;
}

h3,
.article-date {
  color: #808080;
}

em {
  color: #20a9e5;
  font-style: normal;
}

.tim-container {
  display: flex;
  /* faccio stare sempre sulla stessa riga i due TIM */
  flex-flow: row nowrap;
  gap: 0.5em; /* gap è lo spazio tra i due tim */
}

section {
  margin: 1.5rem auto;
}
